
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 42.8rem;
}.dns-mobile-WDN {
  background-color: #ffffff;
  padding: 0.55rem 2.6rem 8.645rem 2.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  display: flex;

  .header-xzU {
    box-shadow: 0 0.5rem 1rem rgba(154, 161, 177, 0.1000000015);
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 1.05rem;
    width: 100%;
    height: 9.5rem;
    position: relative;

    .nav-rbz {
      position: absolute;
      left: 2rem;
      top: 0;
      display: flex;
      align-items: center;
      width: 33.75rem;
      height: 9.5rem;

      .link-wtL {
        flex-shrink: 0;
        margin-right: 7.57rem;
        width: 24.08rem;
        height: 100%;
      }
      .vector-1-g5E {
        height: 1.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1rem;
        width: 2.1rem;
      }
    }
    .image-1-1NQ {
      top: 2.15rem;
      object-fit: cover;
      vertical-align: top;
      width: 13.3rem;
      height: 4.3rem;
      position: absolute;
      left: 1.3rem;
    }
  }
  .auto-group-ygkp-Umn {
    flex-shrink: 0;
    margin-right: 3.8063rem;
    width: 32.6937rem;
    height: 37.6rem;
    position: relative;

    .gettaxshieldcom-by-htmltodesign-free-version-27-09-2023-15-14-17-gmt5-30-oJG {
      width: 32.6937rem;
      height: 24.755rem;
      left: 0;
      overflow: hidden;
      display: flex;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 5.35rem 1.144rem 0rem 5.09rem;
      position: absolute;
      top: 0;
      align-items: center;
      flex-direction: column;

      .list-C5W {
        margin: 0rem 18.76rem 1.6rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .link-pricing-hnx {
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.4rem;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          line-height: 2;
          color: #040404;
        }
        .link-contact-us-b7e {
          flex-shrink: 0;
          display: flex;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 2;
          color: #040404;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-udpn-JGx {
        margin: 0rem 0.15rem 1.6rem 0rem;
        width: calc(100% - 0.15rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .link-contact-us-D92 {
          font-weight: 700;
          color: #040404;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-size: 1.4rem;
          white-space: nowrap;
          margin-right: 18.9102rem;
          line-height: 2;
        }
        .vector-2-goJ {
          width: 1.4rem;
          height: 0.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.9rem;
        }
      }
      .auto-group-gx9a-b9a {
        margin: 0rem 0rem 1.25rem 0rem;
        width: calc(100% - 0rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .link-contact-us-6ME {
          white-space: nowrap;
          display: flex;
          font-size: 1.4rem;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 20.1602rem;
          line-height: 2;
          color: #040404;
        }
        .vector-3-pHE {
          margin-top: 0.7rem;
          width: 1.4rem;
          height: 0.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .rectangle-5-Yj2 {
        opacity: 0.1;
        width: calc(100% - 5.4602rem);
        height: 5.2rem;
        background-color: rgba(217, 217, 217, 0.1000000015);
        flex-shrink: 0;
        margin: 0rem 3.05rem 0rem 2.41rem;
      }
    }
    .rectangle-7-T5J {
      background: linear-gradient(138.81deg, #6033c1 23.33%, rgba(44, 11, 115, 0.6600000262) 100%);
      width: 26.5rem;
      height: 15.7rem;
      position: absolute;
      left: 5.1rem;
      top: 21.9rem;
    }
    .diamond-3-uhz {
      left: 7.2727rem;
      top: 28.6559rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.4545rem;
      height: 2.1882rem;
      position: absolute;
    }
    .pepicons-pencil-crown-33W {
      width: 2.7202rem;
      height: 2.4298rem;
      position: absolute;
      left: 7.2398rem;
      top: 33.2402rem;
      object-fit: contain;
      vertical-align: top;
    }
    .entry-level-mEQ {
      line-height: 2;
      left: 11.6rem;
      font-weight: 800;
      position: absolute;
      top: 22.8rem;
      display: flex;
      font-size: 1.2rem;
      color: #ffffff;
      font-family: Lato, 'Source Sans Pro';
      width: 7.6rem;
      height: 2.4rem;
      white-space: nowrap;
    }
    .premium-R44 {
      left: 11.6rem;
      font-weight: 800;
      height: 2.4rem;
      position: absolute;
      top: 27.8rem;
      display: flex;
      font-size: 1.2rem;
      line-height: 2;
      color: #ffffff;
      font-family: Lato, 'Source Sans Pro';
      width: 5.8rem;
      white-space: nowrap;
    }
    .enterprise-LB2 {
      line-height: 2;
      color: #ffffff;
      font-family: Lato, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.3rem;
      height: 2.4rem;
      left: 11.6rem;
      font-size: 1.2rem;
      position: absolute;
      top: 32.4rem;
      display: flex;
      font-weight: 800;
    }
    .best-for-small-scale-business-qtU {
      width: 13.8rem;
      height: 2.4rem;
      top: 24.4rem;
      display: flex;
      color: #ffffff;
      font-family: Lato, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 11.6rem;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 2.1818181818;
    }
    .best-for-medium-size-business-xCQ {
      font-family: Lato, 'Source Sans Pro';
      white-space: nowrap;
      width: 14.7rem;
      font-weight: 500;
      line-height: 2.1818181818;
      top: 29.4rem;
      display: flex;
      font-size: 1.1rem;
      color: #ffffff;
      height: 2.4rem;
      position: absolute;
      left: 11.6rem;
    }
    .best-for-large-size-business-Evc {
      font-size: 1.1rem;
      color: #ffffff;
      font-family: Lato, 'Source Sans Pro';
      height: 2.4rem;
      position: absolute;
      display: flex;
      font-weight: 500;
      line-height: 2.1818181818;
      white-space: nowrap;
      width: 13.1rem;
      left: 11.6rem;
      top: 34.1rem;
    }
    .solar-tag-price-outline-k8G {
      opacity: 0.8;
      width: 2.5978rem;
      height: 2.5979rem;
      position: absolute;
      left: 7.0512rem;
      top: 23.5511rem;
      object-fit: contain;
      vertical-align: top;
    }
    .line-2-rBJ {
      left: 7.4rem;
      top: 27.15rem;
      object-fit: contain;
      vertical-align: top;
      width: 21.1rem;
      height: 0;
      position: absolute;
    }
    .line-3-PS8 {
      left: 7.5rem;
      top: 32.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 21.1rem;
      height: 0;
      position: absolute;
    }
  }
  .auto-group-bveq-XoE {
    margin: 0rem 5.4rem 10rem 5.6rem;
    width: calc(100% - 11rem);
    height: 53.3rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-8-FUL {
      border: solid 0.1rem rgba(0, 0, 0, 0.1000000015);
      box-sizing: border-box;
      width: 26.5rem;
      height: 29.4rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .features-y9S {
      width: 8.8rem;
      position: absolute;
      font-family: Lato, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.8rem;
      font-weight: 800;
      line-height: 1.3333333333;
      color: #6033c1;
      height: 2.4rem;
      left: 2.4rem;
      top: 3rem;
      display: flex;
    }
    .know-more-f2G {
      position: absolute;
      display: flex;
      font-size: 1.6rem;
      font-weight: 700;
      text-decoration-line: underline;
      color: #6033c1;
      width: 8.5rem;
      height: 2.4rem;
      font-family: Lato, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.5;
      left: 5.2rem;
      top: 24.3rem;
    }
    .group-2-AUp {
      height: 2.4rem;
      position: absolute;
      left: 2.5rem;
      top: 7.8rem;
      display: flex;
      align-items: center;
      width: 22.8rem;

      .vector-W2t {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.2rem 2.1rem 0rem 0rem;
        width: 0.7996rem;
        height: 0.8rem;
      }
      .online-access-to-software-24-7-q5A {
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.7142857143;
        color: #000000;
      }
    }
    .group-3-ANL {
      width: 22rem;
      height: 2.4rem;
      position: absolute;
      left: 2.5rem;
      top: 11rem;
      display: flex;
      align-items: center;

      .vector-u52 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.2rem 2.1rem 0rem 0rem;
        width: 0.7996rem;
        height: 0.8rem;
      }
      .free-funded-referral-platform-qDa {
        font-weight: 500;
        line-height: 1.7142857143;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
      }
    }
    .group-4-Ame {
      position: absolute;
      left: 2.5rem;
      top: 14.2rem;
      display: flex;
      align-items: center;
      width: 15.7rem;
      height: 2.4rem;

      .vector-Vov {
        margin: 0.2rem 2.1rem 0rem 0rem;
        width: 0.7996rem;
        height: 0.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .online-support-RxU {
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.7142857143;
      }
    }
    .group-5-NMv {
      top: 17.5rem;
      display: flex;
      align-items: center;
      width: 13.9rem;
      height: 2.4rem;
      position: absolute;
      left: 2.5rem;

      .vector-use {
        margin: 0.2rem 2.1rem 0rem 0rem;
        width: 0.7996rem;
        height: 0.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .user-accounts-3ix {
        display: flex;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.7142857143;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-6-ngY {
      width: 9.9rem;
      height: 2.4rem;
      position: absolute;
      left: 2.5rem;
      top: 20.8rem;
      display: flex;
      align-items: center;

      .vector-XPE {
        margin: 0.2rem 2.1rem 0rem 0rem;
        width: 0.7996rem;
        height: 0.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .free-e-file-F4L {
        line-height: 1.7142857143;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
    .rectangle-9-z1v {
      height: 24rem;
      position: absolute;
      left: 0;
      top: 29.3rem;
      background-color: #f2f2f2;
      width: 26.5rem;
    }
    .item-499-XXe {
      top: 40.15rem;
      display: flex;
      font-size: 5.5rem;
      font-weight: 700;
      color: #6033c1;
      font-family: Lato, 'Source Sans Pro';
      position: absolute;
      height: 2.4rem;
      left: 3.3rem;
      line-height: 0.4363636364;
      white-space: nowrap;
      width: 13.9rem;
    }
    .price-coz {
      width: 5.2rem;
      height: 2.4rem;
      position: absolute;
      display: flex;
      font-weight: 800;
      line-height: 1.3333333333;
      color: #6033c1;
      white-space: nowrap;
      left: 3.3rem;
      top: 32.2rem;
      font-size: 1.8rem;
      font-family: Lato, 'Source Sans Pro';
    }
    .value-for-money-pack-6z4 {
      position: absolute;
      top: 35rem;
      font-weight: 500;
      font-family: Lato, 'Source Sans Pro';
      width: 15.4rem;
      height: 2.4rem;
      font-size: 1.6rem;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.8000000119);
      white-space: nowrap;
      left: 3.3rem;
      display: flex;
    }
    .group-7-cSc {
      padding: 1.32rem 3.667rem 1.148rem 3.593rem;
      width: 16.94rem;
      display: flex;
      align-items: center;
      background-color: #80bc40;
      border-radius: 0.3667rem;
      box-sizing: border-box;
      height: 4.4rem;
      position: absolute;
      left: 3.3rem;
      top: 46.1rem;

      .buy-now-WH6 {
        margin: 0rem 1.329rem 0.132rem 0rem;
        display: flex;
        line-height: 1.0909091232;
        font-family: Lato, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1.6133rem;
        font-weight: 800;
        color: #ffffff;
        white-space: nowrap;
      }
      .fluent-cart-24-regular-poa {
        margin-top: 0.1808rem;
        width: 1.7505rem;
        height: 1.7512rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .divkl-navbarend-83a {
    display: flex;
    margin: 0rem 7.486rem 0rem 4.3rem;
    padding-left: 2.5rem;
    height: 4.555rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    box-sizing: border-box;
    width: calc(100% - 11.786rem);
    align-items: flex-end;

    .link-Dqi {
      flex-shrink: 0;
      margin-right: 2.514rem;
      line-height: 1.1000000182;
      white-space: nowrap;
      background-color: #80bc40;
      font-family: Inter, 'Source Sans Pro';
      border: solid 0.1rem #80bc40;
      box-sizing: border-box;
      height: 4.355rem;
      align-items: center;
      font-weight: 700;
      color: #ffffff;
      width: 11.6rem;
      justify-content: center;
      font-size: 1.05rem;
      display: flex;
      letter-spacing: 0.0315rem;
      border-radius: 0.3rem;
    }
    .link-H4t {
      height: 100%;
      justify-content: center;
      border-radius: 0.3rem;
      width: 9.1rem;
      display: flex;
      align-items: center;
      line-height: 1.1000000182;
      color: #80bc40;
      font-weight: 700;
      letter-spacing: 0.0315rem;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.05rem;
      white-space: nowrap;
      border: solid 0.2rem #80bc40;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
  }
}
