
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 180rem;
}.dns-rJt {
  height: 71.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .rectangle-6-aVn {
    left: 0;
    top: 8.1rem;
    background: linear-gradient(180deg, rgba(105, 168, 79, 0.200000003) -0%, rgba(128, 188, 64, 0.200000003) 100%);
    opacity: 0.2;
    width: 180rem;
    height: 63.8rem;
    position: absolute;
  }
  .header-TJg {
    width: 180rem;
    height: 46.9rem;
    position: absolute;
    left: 0;
    top: 0.4rem;
    box-shadow: 0 0.5rem 1rem rgba(154, 161, 177, 0.1000000015);
    background-color: #ffffff;

    .nav-CGG {
      height: 44.9775rem;
      position: absolute;
      left: 21.8rem;
      top: 1.9225rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 156.288rem;

      .divkl-navbarcontent-XJY {
        width: calc(100% - 29.03rem);
        height: 4.555rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0rem 0.923rem 29.03rem;

        .list-31z {
          margin: 1.028rem 53.87rem 0.977rem 0rem;
          height: calc(100% - 2.005rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-ghyk-8p8 {
            box-sizing: border-box;
            padding-right: 6.347rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .link-pricing-fb6 {
              line-height: 2;
              color: #040404;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 6.332rem;
              font-size: 1.2rem;
              font-weight: 700;
              display: flex;
            }
            .link-contact-us-8Dn {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 2;
              color: #040404;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
          }
          .item-margin-r9n {
            padding-right: 0.9rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 3.203rem;
            box-sizing: border-box;

            .link-contact-us-z16 {
              display: flex;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 6.347rem 0.15rem 0rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 2;
              color: #040404;
            }
            .link-contact-us-5HS {
              font-size: 1.2rem;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              white-space: nowrap;
              margin: 0rem 1.044rem 0.15rem 0rem;
              display: flex;
              font-weight: 700;
              line-height: 2;
              color: #040404;
            }
            .icon-park-down-P3E {
              height: 0.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.05rem;
              width: 0.9rem;
            }
          }
          .link-contact-us-hpc {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 2;
            color: #040404;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
          }
        }
        .divkl-navbarend-3Ng {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          align-items: flex-start;

          .link-bQC {
            width: 11.6rem;
            height: 4.355rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #80bc40;
            align-items: center;
            justify-content: center;
            line-height: 1.1000000182;
            border: solid 0.1rem #80bc40;
            box-sizing: border-box;
            margin-right: 2.315rem;
            display: flex;
            font-size: 1.05rem;
            font-weight: 700;
            letter-spacing: 0.0315rem;
            color: #ffffff;
            border-radius: 0.3rem;
            flex-shrink: 0;
          }
          .link-FUk {
            width: 9.1rem;
            height: 100%;
            display: flex;
            align-items: center;
            font-weight: 700;
            border-radius: 0.3rem;
            flex-shrink: 0;
            justify-content: center;
            color: #80bc40;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            box-sizing: border-box;
            font-size: 1.05rem;
            line-height: 1.1000000182;
            border: solid 0.2rem #80bc40;
            letter-spacing: 0.0315rem;
          }
        }
      }
      .line-1-7G4 {
        margin: 0rem 85.688rem 0.85rem 63.7rem;
        width: calc(100% - 149.388rem);
        height: 0.25rem;
        background-color: #80bc40;
        flex-shrink: 0;
      }
      .group-8-RXe {
        align-items: center;
        box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 19.788rem;
        height: 38.4rem;
        display: flex;

        .auto-group-s2cx-Ztk {
          box-sizing: border-box;
          background: linear-gradient(138.81deg, #6033c1 23.33%, rgba(44, 11, 115, 0.6600000262) 100%);
          border-radius: 2rem 0 0 2rem;
          flex-shrink: 0;
          margin-right: 7.8rem;
          padding: 5.2rem 0rem 5rem 3.982rem;
          width: 50.8rem;
          height: 100%;
          box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.5);

          .auto-group-jfvp-5s6 {
            display: flex;
            align-items: center;
            margin-bottom: 5.6rem;
            width: 100%;
            height: 6.6rem;

            .solar-tag-price-outline-dNp {
              opacity: 0.8;
              width: 4.8372rem;
              height: 4.8375rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.2rem 1.181rem 0rem 0rem;
            }
            .auto-group-kqnc-8aU {
              height: 100%;
              position: relative;
              flex-shrink: 0;
              width: 40.8rem;

              .entry-level-HiG {
                left: 2.2rem;
                top: 0.7rem;
                line-height: 1.3333333333;
                font-family: Lato, 'Source Sans Pro';
                width: 11.4rem;
                position: absolute;
                font-size: 1.8rem;
                font-weight: 800;
                color: #ffffff;
                white-space: nowrap;
                height: 2.4rem;
                display: flex;
              }
              .best-for-small-scale-business-An4 {
                position: absolute;
                left: 2.2rem;
                top: 3.1rem;
                display: flex;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                height: 2.4rem;
                color: #ffffff;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                width: 20.1rem;
              }
              .rectangle-5-U24 {
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(217, 217, 217, 0.1000000015);
                opacity: 0.1;
                width: 40.8rem;
                height: 6.6rem;
              }
            }
          }
          .auto-group-hxcl-BSG {
            margin: 0rem 17.3rem 6.4rem 0.451rem;
            width: calc(100% - 17.7512rem);
            height: 4.8rem;
            display: flex;
            align-items: center;

            .diamond-3-6p8 {
              height: 4.0112rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.3rem 3.218rem 0rem 0rem;
              width: 4.5492rem;
            }
            .auto-group-gfjy-1AQ {
              flex-shrink: 0;
              height: 100%;
              display: flex;
              flex-direction: column;

              .premium-mQU {
                display: flex;
                font-size: 1.8rem;
                font-weight: 800;
                line-height: 1.3333333333;
                color: #ffffff;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .best-for-medium-size-business-7UL {
                display: flex;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-rmsn-T2Q {
            height: 4.8rem;
            display: flex;
            align-items: flex-start;
            margin: 0rem 18.7rem 0rem 0.268rem;
            width: calc(100% - 18.9682rem);

            .pepicons-pencil-crown-yFe {
              margin: 0.1rem 2.85rem 0rem 0rem;
              width: 5.1003rem;
              height: 4.0497rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-winc-gvk {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              height: 100%;

              .enterprise-Fix {
                display: flex;
                font-size: 1.8rem;
                font-weight: 800;
                line-height: 1.3333333333;
                color: #ffffff;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .best-for-large-scale-business-CeC {
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Lato, 'Source Sans Pro';
              }
            }
          }
        }
        .auto-group-vs3e-FcU {
          flex-shrink: 0;
          margin: 5.9rem 15.9rem 7.9rem 0rem;
          width: 25.7rem;
          height: calc(100% - 13.8rem);

          .features-ZNG {
            margin-bottom: 2.4rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 800;
            line-height: 1.3333333333;
            color: #6033c1;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
          }
          .group-2-uBE {
            margin: 0rem 0rem 0.8rem 0.1rem;
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: center;

            .vector-qag {
              margin: 0.2rem 2.1rem 0rem 0rem;
              width: 0.7996rem;
              height: 0.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .online-access-to-software-24-7-ZWg {
              line-height: 1.5;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
            }
          }
          .group-3-VfE {
            margin: 0rem 0.9rem 0.8rem 0.1rem;
            width: calc(100% - 1rem);
            display: flex;
            align-items: center;

            .vector-S4g {
              margin: 0.2rem 2.1rem 0rem 0rem;
              width: 0.7996rem;
              height: 0.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .free-funded-referral-platform-xoi {
              line-height: 1.5;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
            }
          }
          .group-4-5tL {
            margin: 0rem 8rem 0.9rem 0.1rem;
            width: calc(100% - 8.1rem);
            display: flex;
            align-items: center;

            .vector-d9A {
              width: 0.7996rem;
              height: 0.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.2rem 2.1rem 0rem 0rem;
            }
            .online-support-xhE {
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
          .group-5-JFJ {
            width: calc(100% - 10.2rem);
            display: flex;
            align-items: center;
            margin: 0rem 10.1rem 0.9rem 0.1rem;

            .vector-Rqi {
              width: 0.7996rem;
              height: 0.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.2rem 2.1rem 0rem 0rem;
            }
            .user-accounts-Zwv {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
            }
          }
          .group-6-JuW {
            margin: 0rem 14.7rem 2rem 0.1rem;
            width: calc(100% - 14.8rem);
            display: flex;
            align-items: center;

            .vector-3MJ {
              margin: 0.2rem 2.1rem 0rem 0rem;
              width: 0.7996rem;
              height: 0.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .free-e-file-xjA {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
            }
          }
          .know-more-Vyz {
            margin-left: 2.8rem;
            font-weight: 700;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3333333333;
            text-decoration-line: underline;
            color: #6033c1;
          }
        }
        .auto-group-pqhn-ozg {
          width: 36.3rem;
          display: flex;
          background-color: rgba(204, 204, 204, 0.25);
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 5.9rem 6.4rem 6.6rem 6.8rem;
          height: 100%;
          align-items: center;
          flex-direction: column;
          border-radius: 0 2rem 2rem 0;

          .price-ibr {
            margin: 0rem 17.9rem 0.4rem 0rem;
            display: flex;
            font-size: 1.8rem;
            color: #6033c1;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 800;
            line-height: 1.3333333333;
            flex-shrink: 0;
          }
          .value-for-money-pack-qRa {
            white-space: nowrap;
            margin: 0rem 7.7rem 5.75rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: rgba(0, 0, 0, 0.8000000119);
            display: flex;
            font-family: Lato, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .item-499-Yqn {
            margin: 0rem 1.7rem 6.55rem 0rem;
            display: flex;
            font-weight: 700;
            line-height: 0.2823529412;
            white-space: nowrap;
            font-size: 8.5rem;
            color: #6033c1;
            font-family: Lato, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .group-7-4ZE {
            background-color: #80bc40;
            border-radius: 0.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.8rem 5.001rem 1.565rem 4.9rem;
            width: 100%;
            display: flex;
            align-items: center;

            .buy-now-CQY {
              font-size: 2.2rem;
              font-weight: 800;
              color: #ffffff;
              flex-shrink: 0;
              margin: 0rem 1.813rem 0.235rem 0rem;
              display: flex;
              line-height: 1.0909090909;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
            }
            .fluent-cart-24-regular-v5e {
              flex-shrink: 0;
              margin-top: 0.2466rem;
              width: 2.387rem;
              height: 2.388rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
    }
    .logo-9UC {
      position: absolute;
      left: 6.9rem;
      top: 0.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 17.4rem;
      height: 5.6rem;
    }
  }
}
